p {
    border: 1px solid black;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
    background-color: #60caa7;
}

h1 {
     margin-bottom: 25px;
     text-align: center;
}